:host {
  display: block;
  margin-bottom: 15px;
}

input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

label {
  position: relative;
  cursor: pointer;
}

label:before {
  content:'';
  appearance: none;
  border: 1px solid var(--gc-color-second-grey);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

input:checked + label:before {
  background-color: var(--gc-color-primary);
}

input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 7px;
  border: 1px solid var(--gc-color-contrast-white);
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}

input:disabled + label:before {
  border: 1px solid var(--gc-color-second-grey);
  opacity: 0.6;
  cursor: not-allowed;

}

input:disabled + label {
  cursor: not-allowed;
  text-decoration: line-through;
  color: var(--gc-color-disabled);
}

input:disabled:checked + label:before {
  border: 1px solid var(--gc-color-second-grey);
  opacity: 0.6;
  cursor: not-allowed;
}

input:disabled:checked + label {
  cursor: not-allowed;
  text-decoration: none;
}
