/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiJ-Ek-_EeAmM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiJ-Ek-_EeAmM.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiJ-Ek-_EeAmM.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiJ-Ek-_EeAmM.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiJ-Ek-_EeAmM.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiJ-Ek-_EeAmM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiJ-Ek-_EeA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --gc-font-family: "Inter";
  --gc-font-size: 13px;
  --gc-font-size-h1: 18px;
  --gc-font-size-h2: 15px;
  --gc-font-size-h3: 13px;
  --gc-font-weight-h1: bolder;
  --gc-font-weight-h2: bolder;
  --gc-font-weight-h3: normal;
  --gc-line-height-h1: 23px;
  --gc-line-height-h2: 22px;
  --gc-line-height-h3: 18px;
}

:root {
  --gc-color-focus-blue: #0881FF;
  --gc-color-secondary-grey: #D0D8E0;
  --gc-color-light-grey: #E8ECF0;
  --gc-color-text-grey: #35383D;
  --gc-color-contrast-grey: #F4F7FA;
  --gc-color-contrast-white: #FFFFFF;
  --gc-color-red: #F24843;
  --gc-color-green: #15BF21;
  --gc-color-orange: #FA861C;
  --gc-color-cyan: #37B7D3;
  --gc-color-purple: #BF55DA;
  --gc-color-secondary-blue: #DFEBFF;
  --gc-color-dark-grey: #AFAFAF;
  --gc-color-dark-red: #DE3D38;
  --gc-color-second-grey: #DAE1E8;

  --gc-color-primary: var(--gc-color-focus-blue);
  --gc-color-secondary: var(--gc-color-light-grey);
  --gc-color-danger: var(--gc-color-red);
  --gc-color-disabled: var(--gc-color-text-grey);
}

:root {
  --border-radius-btn: 4px;
}

:root {
  --gc-list-style-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iLTAuMTA2NTk4IiB5PSI2LjUiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHJ4PSIyIiB0cmFuc2Zvcm09InJvdGF0ZSgtNDUgLTAuMTA2NTk4IDYuNSkiIGZpbGw9IiMwODgxRkYiLz4KPC9zdmc+Cg==);
  --gc-list-style-line-height: 28px;
}

* {
  font-family: var(--gc-font-family);
  font-size: var(--gc-font-size);
  color: var(--gc-color-text-grey);
}


.gc-h1, .gc-h2, .gc-h3 {
  font-family: var(--gc-font-family);
  color: var(--gc-color-text-grey);
}

.gc-h1 {
  font-weight: var(--gc-font-weight-h1);
  font-size: var(--gc-font-size-h1);
  line-height: var(--gc-line-height-h1);
}

.gc-h2 {
  font-weight: var(--gc-font-weight-h2);
  font-size: var(--gc-font-size-h2);
  line-height: var(--gc-line-height-h2);
}

.gc-h3 {
  font-weight: var(--gc-font-weight-h3);
  font-size: var(--gc-font-size-h3);
  line-height: var(--gc-line-height-h3);
}

.gc-ul li {
  position: relative;
  list-style-type: none;
  line-height: var(--gc-list-style-line-height)
}

.gc-ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -23px;
  width: var(--gc-font-size);
  height: var(--gc-font-size);
  background-image: var(--gc-list-style-icon);
}


.gc-ol li {
  position: relative;
  line-height: var(--gc-list-style-line-height)
}

