:host {
  flex: 1;
  --z-index-tab: 999;
}
.gc__tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.gc__tab .native-button {
  height: 100%;
  cursor: pointer;
  z-index: var(--z-index-tab);
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #727272;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  border-right: 1px solid var(--gc-color-second-grey);
  border-bottom: 1px solid var(--gc-color-second-grey);
}

:host:last-child .native-button {
  border-right: 0;
  border-radius: 0px 6px 0 0;
}

:host:first-child .gc__tab-background {
  border-radius: 6px 0 0;
}

:host:last-child .gc__tab-background {
  border-radius: 0px 6px 0 0;
}

:host:first-child .native-button {
  border-right: 0;
  border-radius: 6px 0 0;
}

.gc__tab .gc__tab-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.gc__tab.disabled .native-button {
  cursor: not-allowed;
}
.gc__tab.has-content .slot-container {
  display: flex;
  line-height: 18px;
}
.gc__tab .gc__tab-background {
  background: var(--gc-color-light-grey);
}
.gc__tab.selected .native-button {
  color: #FFFFFF;
  background: var(--gc-color-second-blue);
  border: none;
}
.gc__tab.selected .native-button:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: solid 4px var(--gc-color-second-blue);
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
.gc__tab.disabled .native-button {
  color: #727272;
}

