:host {
  display: block;
  border-bottom: 1px solid var(--gc-color-second-grey);
}
.menu-item {
  cursor: pointer;
  padding: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: var(--gc-color-text-grey);
  outline: none;
}
.menu-item .item-section {
  display: flex;
  align-items: center;
}
.menu-item .slot-main {
  display: block;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 13px;
}
.menu-item:hover, .menu-item.has-focus:not(.active) {
  background: var(--gc-color-primary);
  color: var(--gc-color-contrast-white);
}
.menu-item:hover .slot-end, .menu-item.has-focus:not(.active) .slot-end {
  color: var(--gc-color-contrast-white);
}
.menu-item:hover .slot-end {
  color: var(--gc-color-contrast-white);
}
.menu-item.active, .menu-item.selected {
  background: var(--gc-color-primary);
  color: var(--gc-color-contrast-white);
}
.menu-item.disabled {
  cursor: not-allowed;
  color: var(--gc-color-disabled);
  background-color: var(--gc-color-background-disabled);
  opacity: 0.2;
}
.menu-item.disabled:hover, .menu-item.disabled.has-focus:not(.active) {
  color: var(--gc-color-disabled);
  background-color: var(--gc-color-background-disabled);
}
.menu-item.disabled.active, .menu-item.disabled.selected {
  color: var(--gc-color-disabled);
  background-color: var(--gc-color-background-disabled);
}
.menu-item:not(.start-slot-has-content) .slot-start {
  display: none;
}
.menu-item:not(.end-slot-has-content) .slot-end {
  display: none;
}
:host:last-child {
  border-bottom: 0px;
}
.dot {
  border-radius: 50%;
  background: white;
  width: 13px;
  height: 13px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: bottom;
}
