:host {
  display: flex;
}

textarea {
  background: var(--gc-color-contrast-grey);
  border: 1px solid var(--gc-color-second-grey);
  border-radius: 5px;
  width: 100%;
  min-width: 0;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
}

textarea.has-error {
  background: #FFF9F9;
  border: 1px solid var(--gc-color-red);
}

textarea[disabled] {
  color: #00000040;
  background-color: #f5f5f5;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}

textarea:focus {
  background-color: var(--gc-color-contrast-grey);
  border-color: var(--gc-color-primary);
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gc-color-placeholder);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--gc-color-placeholder);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--gc-color-placeholder);
}

textarea::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
textarea::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--gc-color-second-grey);
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--gc-color-primary);
}

