.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--gc-color-contrast-grey);
  border-color: var(--gc-color-second-grey);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  height: 42px;
  width: 100%;
  min-width: 0;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.input-container .input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  cursor: inherit;
  padding: 0;
}
.input-container .slot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.input-container .slot-container slot::slotted(*) {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.input-container.start-slot-has-content .input {
  padding-left: 0.5rem;
}
.input-container.end-slot-has-content .input {
  padding-right: 0.5rem;
}
.input-container:not(.start-slot-has-content) .slot-container.start {
  display: none;
}
.input-container:not(.end-slot-has-content) .slot-container.end {
  display: none;
}
.input-container .input-action {
  cursor: pointer;
}
.input-container .input-action:hover {
  --text-color: var(--text-secondary);
}

.dropdown {
  position: relative;
  display: block;
  background: var(--gc-color-contrast-grey);
}
.dropdown .gc__dropdown-content {
  z-index: var(--gc-z-index-gc__dropdown-content);
  position: absolute;
  width: max-content;
  transition: transform 0.1s ease-out 0s;
}
.dropdown .caret-down {
  transition: transform 0.1s ease-out 0s;
}
.dropdown.is-open .gc__dropdown-content {
  transform: scale(1);
}
.dropdown.is-open .caret-down {
  transform: rotate(180deg);
}
.dropdown.bottom-right .gc__dropdown-content {
  top: calc(100%);
  left: 0;
  transform-origin: top;
}
.dropdown.bottom-left .gc__dropdown-content {
  top: calc(100%);
  right: 0;
  transform-origin: top;
}
.dropdown.top-right .gc__dropdown-content {
  bottom: calc(100%);
  left: 0;
  transform-origin: bottom;
}
.dropdown.top-left .gc__dropdown-content {
  bottom: calc(100%);
  right: 0;
  transform-origin: bottom;
}
.select {
  cursor: pointer;
}
.select .gc__dropdown-content {
  width: 100%;
  min-width: 10rem;
}
.select .menu {
  width: 100%;
  max-height: 260px;
  overflow-x: auto;
}
.select .menu::-webkit-scrollbar {
  width: 2px;
}

.select .menu::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--gc-color-second-grey);
}

.select .menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--gc-color-primary);
}

.select .display-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gc-color-placeholder);
  max-width: 98%;
}
.select .has-value .display-value {
  color: var(--gc-color-text-grey);
}
.select .multi-select-value {
  padding-inline-end: 0.5rem;
}
.select .multi-select-value:last-child {
  padding-inline-end: 0;
}
.select .start-search {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dropdown.bottom-right.is-open .input-container, .dropdown.bottom-left.is-open .input-container  {
  border-bottom-width: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown.top-right.is-open .input-container, .dropdown.top-left.is-open .input-container {
  border-top-width: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.dropdown.bottom-right.is-open .menu, .dropdown.bottom-left.is-open .menu {
  /* box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%); */
}

.dropdown.top-right.is-open .menu, .dropdown.top-left.is-open .menu {
  /* box-shadow: 0px -3px 8px rgb(0 0 0 / 10%); */
}

.dropdown.top-right.is-open gc-menu::part(custom) {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

div.input-container.search-none.sc-gc-select.has-value > div.input.display-value.sc-gc-select {
  color: var(--gc-color-grey-text);
}

div.input-container.search-contains.sc-gc-select.has-value > div.input.display-value.sc-gc-select {
  color: var(--gc-color-grey-text);
}
div.input-container.has-error {
  background: #FFF9F9;
  border: 1px solid var(--gc-color-red);
}

.gc__section-hidden {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gc-color-placeholder);
  max-width: 98%;
}

.gc__select-dot {
  border-radius: 50%;
  background: white;
  width: 13px;
  height: 13px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.gc__select-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.gc__select-disabled .input-container {
  opacity: 0.7;
  cursor: not-allowed;
}

.gc__select-disabled .input-container .gc__section-hidden {
  opacity: 0.7;
  cursor: not-allowed;
}
