:host {
  display: inline-block;
  height: var(--dropdown-height, auto);
}

#tooltip {
  display: none;
  border: 1px solid var(--gc-color-second-grey);
  border-radius: 5px;
  background-color: var(--gc-color-contrast-white);
  font-size: 13px;
  z-index: var(--gc-z-index-gc__dropdown-content);
}

#tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#tooltip[data-popper-placement^='bottom'] > #arrow::before {
  visibility: visible;
  content: '';
  width: 0;
  height: 0;
  top: -5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--gc-color-second-grey);
}

#tooltip[data-popper-placement^='bottom'] > #arrow::after {
  visibility: visible;
  content: '';
  width: 0;
  height: 0;
  top: -4px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}


#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
