.gc__pagination {
  display: flex;
  align-items: center;
}

.gc__pagination .gc__pagination-page {
  background: #FFFFFF;
  border: 1px solid var(--gc-color-second-grey);
  border-radius: 6px;
  color: var(--gc-color-primary);
  padding: 2px;
  min-width: 26px;
  height: 26px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
}

.gc__pagination .gc__pagination-page:last-child {
  margin-right: 0;
}

.gc__pagination .gc__pagination-page.active,
.gc__pagination .gc__pagination-page:hover
{
  background: var(--gc-color-primary);
  color: var(--gc-color-contrast-white);
}

.gc__pagination-dots {
  color: var(--gc-color-primary);
  margin-right: 8px;
}
.gc__pagination .gc__pagination-page.active,
.gc__pagination .gc__pagination-page:hover > gc-icon > i
{
  color: var(--gc-color-contrast-white) !important;
}
