.gc__alert {
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
}

.gc__alert.gc__alert-info {
  background-color: #e6f4ff;
  border: 1px solid var(--gc-color-primary);
  color: var(--gc-color-primary);
}

.gc__alert.gc__alert-error {
  background-color: #FFF8F8;
  border: 1px solid var(--gc-color-red);
  color: var(--gc-color-red);
}

.gc__alert.gc__alert-success {
  background-color: rgba(21, 191, 33, 0.05);
  border: 1px solid var(--gc-color-green);
  color: var(--gc-color-green);
}

.gc__alert-message {
  display: flex;
  align-items: center;
}

.gc__alert-content {
  margin-left: 12px;
}
