.gc__badge {
  border-radius: 60px;
  text-align: center;
  color: var(--gc-color-contrast-white);
  padding: 6px;
  display: inline-block;
}

.gc__badge--primary {
  background-color: var(--gc-color-primary);
}

.gc__badge--success {
  background-color: var(--gc-color-green);
}

.gc__badge--warning {
  background-color: var(--gc-color-orange);
}

.gc__badge--danger {
  background-color: var(--gc-color-dark-red);
}

.gc__badge--info {
  background-color: var(--gc-color-cyan);
}

.gc__badge--processing {
  background-color: var(--gc-color-purple);
}
