:host {
  display: block;
  height: 100%;
  min-height: 20em;
  --table-border-color: var(--gc-color-second-grey);
  --z-index-table-header: 12;
}
.table {
  height: 100%;
  border: 1px solid var(--table-border-color);
  font-size: 12px;
}
.table .table-scroll-container {
  position: relative;
  overflow: auto;
  height: 100%;
}
.empty-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 18px;
  border: 1px solid var(--gc-color-second-grey);
}
.table.paginate .table-scroll-container {
  height: calc(100% - 2.4375rem);
}
.table .pagination {
  display: flex;
  border-top: 1px solid var(--table-border-color);
}
.table .pagination .form-control {
  margin: 0;
}
.table .pagination .select {
  margin: 0;
  --input-border-radius: none;
  --input-border-style: none;
  border-left: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
}
.table .pagination .page-sizes-select {
  margin-inline-start: v(--spacing-3);
}
.table .pagination .pagination-item-count {
  margin-inline-start: v(--spacing-4);
  flex: 1;
  display: flex;
  align-items: center;
}
.row {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}
.row .columns-container {
  display: flex;
}
.row .col {
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: normal;
  border-right: 1px solid var(--gc-color-second-grey);
  border-bottom: 1px solid var(--gc-color-second-grey);
}
.row .col .col-content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.row .col .col-content .col-text {
  padding: 0 14px 0 14px;
  flex: 1;
  display: block;
  display: -webkit-box;
  max-width: 400px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.row .col .col-content .col-action {
  --button-border-radius: none;
}
.row .col .col-content .col-action.has-focus {
  z-index: 12;
}
.row .col .col-content .checkbox {
  /* padding: 0 v(--spacing-3); */
}
.row .col.center .col-content {
  justify-content: center;
}
.row .col:last-child {
  flex: 1;
}
.row .fixed-columns {
  position: sticky;
  left: 0;
  background: inherit;
}
.header .fixed-columns {
  background: #397FF7;
}
.row .scrollable-columns {
  flex: 1;
}
.header {
  z-index: var(--z-index-table-header);
  font-weight: bold;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background: #397FF7;
  color: white;
  height: 50px;
  min-width: fit-content;
}
.body {
  min-width: fit-content;
}
.header .left-panel {
  position: sticky;
  top: 0;
  left: 0;
}
.header .col {
  border-bottom: 1px solid var(--table-border-color);
  cursor: pointer;
}
.body .row {
  height: 66px;
}
.body > .row:nth-child(even) {background-color: var(--gc-color-contrast-grey);}
.body > .row:nth-child(odd) {background-color: var(--gc-color-contrast-white);}
.body > div.row::nth-child(even) > div.fixed-columns.columns-container > div > div {
  background-color: var(--gc-color-contrast-grey);
}
.body > div.row:nth-child(odd) > div.fixed-columns.columns-container > div > div {
  background-color: var(--gc-color-second-white);
}
.body .row:hover {
  /* background-color: blue; */
}
.body .row:hover .col {
  /* background-color: blue; */
}
.body .row .col {
  /* cursor: pointer; */
}
.body .row .col:focus {
  outline: none;
  z-index: 1;
}
.body .left-panel {
  position: sticky;
  left: 0;
}
.table-footer {
  height: 66px;
}
.table-footer .pagination {
  height: 100%;
  padding: 0 14px;
}
.table-footer .pagination .pagination-right {
  display: flex;
  align-items: center;
}
:host(.show-full-content) .body .col-text {
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}
.empty-data {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  height: max-content;
  /* color: v(--color-neutral-600); */
}
.gc__table-arrow {
  display: grid;
}
gc-icon.disabled {
  opacity: 0.5;
}
gc-icon.down-arrow {
  margin-top: -4px;
}
.row .col .col-content .col-actions {
  margin-right: 14px;
}
.col-center {
  text-align: center;
}
.gc__table-setting {
  font-weight: bold;;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gc-color-contrast-white);
  padding: 26px 30px 8px 30px;
  border-left: 1px solid var(--gc-color-second-grey);
  border-right: 1px solid var(--gc-color-second-grey);
}

.gc__table-setting .dropdown {
  width: 473px;
}

.gc__table-setting .gc__table-setting-cols-text {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gc-color-second-grey);
}

.gc__table-setting .gc__table-setting-cols-title {
  margin-left: 12px;
}

.gc__table-setting .gc__table-setting-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 20px;
  row-gap: 9px;
}

.gc__table-setting .gc__table-setting-col-item {
  display: flex;
}

.gc__table-setting .gc__table-setting-col-item .sc-gc-checkbox-h {
  margin-bottom: 0;
  margin-left: 8px;
  line-height: 13px;
}
