:host {
  display: block;
  height: 100%;
  --table-border-color: var(--gc-color-second-grey);
  --z-index-table-header: 12;
  --font-weight-table-header: 600;
}
.gc__table {
  height: 100%;
  border: 1px solid var(--table-border-color);
  font-size: 12px;
}
.gc__table .table-scroll-container {
  position: relative;
  overflow: auto;
  height: 100%;
}
.empty-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  border: 1px solid var(--gc-color-second-grey);
  background: var(--gc-color-contrast-white);
}
.empty-title {
  margin-bottom: 14px;
}
.gc__table.paginate .table-scroll-container {
  height: calc(100% - 2.4375rem);
}
.gc__table .table-scroll-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.gc__table .table-scroll-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--gc-color-second-grey);
}
.gc__table .table-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--gc-color-primary);
}
.gc__table .pagination {
  display: flex;
  border-top: 1px solid var(--table-border-color);
}
.gc__table .pagination .form-control {
  margin: 0;
}
.gc__table .pagination .select {
  margin: 0;
  --input-border-radius: none;
  --input-border-style: none;
  border-left: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
}
.gc__table .pagination .page-sizes-select {
  margin-inline-start: v(--spacing-3);
}
.gc__table .pagination .pagination-item-count {
  margin-inline-start: v(--spacing-4);
  flex: 1;
  display: flex;
  align-items: center;
}
.gc__row {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}
.gc__row .columns-container {
  display: flex;
}
.gc__row .gc__col {
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: normal;
  border-right: 1px solid var(--gc-color-second-grey);
  border-bottom: 1px solid var(--gc-color-second-grey);
}
.gc__row .gc__col .col-content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.gc__row .gc__col .col-content .col-text {
  padding: 0 14px 0 14px;
  flex: 1;
  display: block;
  /* display: -webkit-box;
  max-width: 600px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; */
  word-break: break-word;
}

.header .gc__row .gc__col .col-content .col-text {
  word-break: inherit;
}

.gc__row .gc__col .col-content .col-action {
  --button-border-radius: none;
}
.gc__row .gc__col .col-content .col-action.has-focus {
  z-index: 12;
}

.gc__row .gc__col.center .col-content {
  justify-content: center;
}
.gc__row .gc__col:last-child {
  flex: 1;
}
.gc__row .fixed-columns {
  position: sticky;
  left: 0;
  background: inherit;
}
.gc__row .fixed-right-columns {
  position: sticky;
  right: 0;
  background: inherit;
}
.header .fixed-columns {
  background: var(--gc-color-second-blue);
}
.gc__row .scrollable-columns {
  flex: 1;
}
.header {
  z-index: var(--z-index-table-header);
  font-weight: var(--font-weight-table-header);
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background: var(--gc-color-second-blue);
  color: var(--gc-color-contrast-white);
  height: 50px;
  min-width: fit-content;
}
.gc__table-body {
  min-width: fit-content;
}
.header .left-panel {
  position: sticky;
  top: 0;
  left: 0;
}
.header .gc__col {
  border-bottom: 1px solid var(--table-border-color);
}
.header .gc__col.sort {
  cursor: pointer;
}
.gc__table-body .gc__row {
  min-height: 66px;
  height: auto;
}
.gc__table-body > .gc__row:nth-child(even) {background-color: var(--gc-color-contrast-grey);}
.gc__table-body > .gc__row:nth-child(odd) {background-color: var(--gc-color-contrast-white);}
.gc__table-body > div.gc__row::nth-child(even) > div.fixed-columns.columns-container > div > div {
  background-color: var(--gc-color-contrast-grey);
}
.gc__table-body > div.gc__row:nth-child(odd) > div.fixed-columns.columns-container > div > div {
  background-color: var(--gc-color-second-white);
}
.gc__table-body .gc__row .gc__col:focus {
  outline: none;
  z-index: 1;
}
.gc__table-body .left-panel {
  position: sticky;
  left: 0;
}
.table-footer {
  height: 66px;
  background-color: var(--gc-color-contrast-white);
}
.table-footer .pagination {
  height: 100%;
  padding: 0 30px;
}
.table-footer .pagination .pagination-right {
  display: flex;
  align-items: center;
}
:host(.show-full-content) .gc__table-body .col-text {
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}
.empty-data {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  height: max-content;
  /* color: v(--color-neutral-600); */
}
.gc__table-arrow {
  display: grid;
}
gc-icon.disabled {
  opacity: 0.5;
}
gc-icon.down-arrow {
  margin-top: -4px;
}
.gc__row .gc__col .col-content .col-actions {
  margin-right: 14px;
}
.col-center {
  text-align: center;
}
.gc__table-setting {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gc-color-contrast-white);
  padding: 12px 30px 8px 30px;
  border-left: 1px solid var(--gc-color-second-grey);
  border-right: 1px solid var(--gc-color-second-grey);
}

.gc__table-setting .dropdown {
  min-width: 473px;
}

.gc__table-setting .gc__table-setting-cols-text {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gc-color-second-grey);
}

.gc__table-setting .gc__table-setting-cols-title {
  margin-left: 12px;
}

.gc__table-setting .gc__table-setting-cols {
  display: grid;
  padding: 17px 20px;
  row-gap: 17px;
  column-gap: 17px;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gc__table-setting .gc__table-setting-cols.less-cols {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gc__table-setting .gc__table-setting-col-item {
  display: flex;
  align-items: center;
}

.gc__table-setting .gc__table-setting-col-item .sc-gc-checkbox-h {
  margin-bottom: 0;
  margin-left: 8px;
  line-height: 13px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gc__table-setting .gc__table-setting-col-item gc-icon {
  cursor: move;
}

.gc__table-setting .gc__table-setting-col-item.disabled {
  cursor: not-allowed;
}

.gc__table-setting label.gc__label.sc-gc-checkbox {
  color: var(--gc-color-text-grey);
}

.gc__table-no-stripe .gc__table-body>.gc__row:nth-child(odd) {
  background-color: inherit;
}

.gc__table-no-stripe .gc__table-body>.gc__row:nth-child(even) {
  background-color: inherit;
}

.gc__table-no-stripe .gc__table-body>div.gc__row:nth-child(odd)>div.fixed-columns.columns-container>div>div {
  background-color: inherit;
}

.gc__table-no-stripe .gc__table-body>div.gc__row:nth-child(even)>div.fixed-columns.columns-container>div>div {
  background-color: inherit;
}

.gc__table-no-stripe .header,
.gc__table-no-stripe .header .fixed-columns {
  background-color: inherit;
  color: var(--gc-color-text-grey);
}

.gc__table-no-border .gc__row .gc__col {
  border-right: 0;
}

.loading-section {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
}

.gc__actions {
  margin-top: 5px;
  display: flex;
}

.gc__btn-action {
  margin-right: 5px;
  display: none;
}

.gc__btn-action.active {
  animation: fadeInShow 0.2s;
  display: block;
}

.gc__table-setting-manage-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #51666C;
}

@keyframes fadeInShow {
  0% {
      opacity: 0;
      transform: scale(0)
  }

  100% {
      opacity: 1;
      transform: scale(1)
  }
}
