:host {
  --z-index-floating: 9999999999;
  --background-color-behind: rgba(255,255,255, 0.5);
}
.gc__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gc__spinner-float {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-floating);
  overflow: hidden;
  background: var(--background-color-behind);
}
.gc__spinner-loading {
  display: inline-block;
}
.gc__spinner-loading > svg {
  display: inline-block;
  width: 49px;
  height: 58px;
  animation: lds-circle 0.8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(0deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(360deg);
  }
}
