:host {
  --z-index-modal: 9999;
}
.gc__modal-overlay {
  z-index: var(--z-index-modal);
  opacity: 0;
  visibility: hidden;

  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0,0,0,0.42);
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
          transition: opacity 0.5s, visibility 0s 0.5s;


  display: flex;
  align-items: center;
  justify-content: center;
}

.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.is-transparent {
  opacity: 0;
}

.gc__modal-window {
  background: white;
  border-radius: 8px;
  width: 488px;
  height: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gc__modal-window--content {
  width: 100%;
  height: 100%;
}

.gc__modal-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.gc__modal-body {
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 12px;
}

.gc__modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 17px;
  margin-top: 40px;
  margin-bottom: 29px;
}
